body {
    margin: 0;
    background-color: #f4f0e5;
    font-family: Tahoma;
}

.secao{
    width: 700px;
    text-align: center;
    margin: 20px auto;
}

.imagem-logotipo{
    width: 200px;
}

a {
    margin: 0 10px;
    padding: 10px 30px;
    color: #f4f0e5;
    border-radius: 25px;
    background-color: #542f0c;
    text-decoration: none;

    display: inline-block; /* Para garantir que o link se comporte como um botão */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Adiciona uma transição suave */
}

a:hover {
    background-color: #6a3f1a; /* Cor de fundo ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
    transform: translateY(-2px); /* Leve elevação ao passar o mouse */
}

a:active {
    background-color: #442108; /* Cor de fundo ao clicar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao clicar */
    transform: translateY(0); /* Retorno à posição original ao clicar */
}



h1 {
    font-size: 28px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    border-top: solid #de8e37;
}

h2 {
    font-weight: normal;
    color: #de8e37;
    margin-top: 10px;
}

.produtos-padaria {
    width: 700px;
}

.secao-destaque {
    background-color: #de8e37;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffff;
}

.secao-destaque h3 {
    font-size: 24px;
}

.secao-destaque h4 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 0;
}

.secao-destaque p {
    width: 500px;
    margin: 0 auto;
    line-height: 30px;
    padding-bottom: 10px;
}

.secao-destaque img {
    width: 400px;
}

span {
    font-weight: bold;
}